.u-section-1 .u-sheet-1 {
  min-height: 640px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 550px;
  background-image: url("images/portraitpic.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 454px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -462px 1px 0 607px;
}

.u-section-1 .u-text-2 {
  margin: 21px auto 0 607px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 24px 175px -302px 607px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 454px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 500px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 501px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 81px;
    margin-left: 501px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-1 .u-image-1 {
    min-height: 348px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 383px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 384px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1663px;
  }

  .u-section-1 .u-image-1 {
    min-height: 522px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 522px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 287px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 288px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 288px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-1 .u-image-1 {
    min-height: 329px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 181px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 181px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 181px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 76px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 18px auto 10px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 192px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 31px 0 33px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 128px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 59px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 3px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 106px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 158px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 76px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 18px auto 10px;
}.u-section-5 .u-sheet-1 {
  min-height: 541px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 59px;
}

.u-section-5 .u-text-1 {
  margin: 54px auto 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 17px 3px 0 0;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-right: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  margin-right: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 431px;
  background-image: url("images/uoft.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 272px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 408px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 257px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 541px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-6 .u-image-1 {
  min-height: 431px;
  background-image: url("images/2f8ad2f5e5b565b13114dff5db3c04d5.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 431px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 59px;
}

.u-section-6 .u-text-1 {
  margin: 136px auto 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  margin: 17px 3px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 355px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    min-height: 272px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    min-height: 408px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    min-height: 257px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 102px;
}

.u-section-7 .u-list-1 {
  margin-top: 0;
  margin-bottom: 36px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 66px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    min-height: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}